/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@600;700&family=Roboto:wght@700&display=swap");

/* reset default styes  */
* {
  margin: 0;
  padding: 0;
}

/* shared styles  */
body {
  font-family: "Poppins", sans-serif;
}

/* ===========header styles==========  */
/* nav styles  */
header {
  margin-bottom: 50px;
}
nav {
  margin: 87px 120px 80px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

nav > a {
  text-decoration: none;
  color: #000;
}

.mobileIcon {
  display: none;
  color: #000;
}

/* banner styles  */
.banner {
  margin-left: 120px;
  margin-right: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  max-width: 505px;
}
.banner-button {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.banner-image-container {
}
.banner-image-container img {
  width: 100%;
}

/* brand section styles  */
.brands {
  margin: 0 200px;
  margin-bottom: 140px;
}
.brands-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brands-container img {
  width: 100%;
  height: auto;
}

/* ==============popular collections section styles============  */
.popular-collections {
  margin: 0 200px;
}
.popular-collections-title {
  text-align: center;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 47px;
}

/* popular collection item  styles*/
.popular-collections-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 44px;
}
.popular-collection-item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 14px;
}
.popular-collection-item-image {
  width: 100%;
  height: auto;
}
.popular-collection-item-title {
  color: #18191f;
  font-size: 1.75rem;
  font-weight: 500;
}
.popular-collection-item-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}
.popular-collection-item-ratings-icon-container {
  margin-bottom: 5px;
}
.fa-star,
.fa-star-half-stroke {
  color: #fb8200;
}
.rating-text {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.popular-collection-item-description {
  color: #787885;
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.252px;
  max-width: 196px;
}

.see-more-button-container {
  text-align: right;
  padding: 10px 0;
  margin-bottom: 100px;
}
.see-more-button-container button {
  margin-right: 200px;
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  background: transparent;
}

/* ==============feature styles==========  */
.feature {
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 96px;
  margin-bottom: 100px;
}
.feature-image {
  width: 100%;
  height: auto;
}
.feature-content {
}
.feature-title {
  color: #0a0826;
  font-size: 30px;
  font-weight: 700;
}
.feature-description {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  margin: 16px 0;
}
.feature-button {
  background: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  padding: 8px 16px;
}

/* ===============footer styles================  */
footer {
  text-align: center;
  background: #0a0826;
  padding: 80px 0 50px 0;
}
.footer-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom:15px;
}
.copy-right-text, .all-right-reserved {
  color:  #d9dbe1;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}
.all-right-reserved {
}
.icons-container {
    margin-top:15px;
}
.icons-container i{
    color:#fff;
    margin:16px;
    background: #161515b9;
    padding:10px;
    border-radius: 50%;
    font-size: 1.5rem;
}


/* Responsive Styles  */
@media screen and (max-width: 576px) {
  header div.mobile-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }

  nav {
    margin: 35px 16px 35px 16px;
  }

  .nav-title {
    font-size: 16px;
  }

  .mobileIcon {
    display: block;
  }

  nav ul {
    display: none;
    gap: 20px;
  }
  /* banner  */
  .banner {
    flex-direction: column-reverse;
    margin: 0;
  }

  .banner-content {
    text-align: center;
    padding: 0 10px;
  }

  .banner-button {
    margin: 0 auto;
  }

  .banner-title {
    font-size: 28px;
    line-height: normal;
    margin-top: 20px;
  }

  .banner-description {
    margin: 15px 0 25px 0;
  }

  /* brands  */
  .brands {
    margin: 0;
    margin-bottom: 140px;
  }
  .brands-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
  }

  /* popular collections  */
  .popular-collections {
    margin: 0;
  }

  .popular-collections-title {
    font-size: 16px;
  }

  .popular-collections-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .popular-collection-item-title {
    font-weight: 700;
  }

  .popular-collection-item-price {
    font-weight: 700;
  }

  .see-more-button-container button {
    margin-right: 10px;
  }

  /* feature  */
  .feature {
    margin: 0 10px;
    flex-direction: column-reverse;
    text-align: center;
    gap: 40px;
  }

  .feature-title {
    font-size: 24px;
  }

  /* footer  */
  .footer-title{
    font-size: 16px;
  }

  .copy-right-text, .all-right-reserved{
    font-size: 12px;
  }

  .icons-container i{
    font-size: 12px;
    padding:10px;
    margin:3px;
  }
}
