/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

/* reset default styes  */
* {
  margin: 0;
  padding: 0;
}

/* shared styles  */
body {
  font-family: "Poppins", sans-serif;
}

/* ===========header styles==========  */
/* nav styles  */
nav {
  margin: 87px 120px 80px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 34px;
}

.nav-title {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
}

nav > a {
  text-decoration: none;
  color: #000;
}

.mobileIcon {
  display: none;
  color: #000;
}

/* banner styles  */
.banner {
  margin-left: 120px;
  margin-right: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
}
.banner-title {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.banner-description {
  color: #3a3a3a;
  font-size: 16px;
  font-weight: 600;
  max-width: 505px;
}
.banner-button {
  border-radius: 41px;
  background: #e02c6d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.banner-image-container {
}
.banner-image-container img {
    width:100%;
}

/* Responsive Styles  */
@media screen and (max-width: 576px) {
  header div.mobile-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
  }

  nav {
    margin: 35px 16px 35px 16px;
  }

  .nav-title {
    font-size: 16px;
  }

  .mobileIcon {
    display: block;
  }

  nav ul {
    display: none;
    gap: 20px;
  }
  /* banner  */
  .banner{
    flex-direction: column;
    margin:0;
  }
}
